* {
    box-sizing: border-box;
}


.box {
    background-color: yellow;
    box-sizing: content-box;
    width: 500px;
    height: 200px;
    margin: 50px 20px 100px;
    padding: 20px;

    border: 1px solid red;
    
    /* border-width: 1px;
    border-style: solid;
    border-color: red; */

    /* border-top: 1px solid red; */
    /* border-bottom: 5px dashed green; */

    /* border-top-width: 1px;
    border-top-style: solid;
    border-top-color: red; */

    /* border-radius: 150px; */
}

.box-content {
    background-color: lime;
    width: 300px;
    margin: 50px;
}

button {
    width: 150px;
    height: 30px;
    margin: 20px;
}