@font-face {
    font-family: "Icons";
    src: url("../fonts/icomoon.ttf") format("ttf");
}

:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-orange: #FF6C00;
    --color-light-gray: #F5F4FA;
    --color-light-gray-2: #F7F7F7;
    --color-gray: #9DA4BD;

    --font-family-raleway: 'Raleway', sans-serif;
    --font-family-open-sans: 'Open Sans', sans-serif;

    --transition-duration: 250ms;
}

* {
    box-sizing: border-box;
}

body {
    /* background-color: var(--color-black); */
    font-family: 'Open Sans', sans-serif;
}

p {
    margin: 0;
}

ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

figure {
    margin: 0px;
}

img {
    display: block;
}

.main-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 32px 0;
}

.main-header-container {
    display: flex;
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.main-header-nav {
    display: flex;
}

.main-header-menu {
    display: inline-block;
    margin-left: 130px;
    margin-top: auto;
    margin-bottom: auto;
    column-gap: 40px;
}

.main-header-logo {
    text-decoration: none;
}

.main-header-menu-link,
.main-header-menu-tel {
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    font-size: 12px;
}

.main-header-menu-link:hover,
.main-header-menu-tel:hover {
    color: var(--color-orange);
}

.main-header-menu-item {
    display: inline-block;
}

.main-header-menu-item:not(:last-child) {
    margin-right: 40px;
}


.main-header-menu-link.active {
    color: var(--color-orange);
}

.main-header-cta {
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 10px;
    line-height: 1.5em;
    background-color: transparent;
    border: 1px solid var(--color-orange);
    background-color: var(--color-white);
}

.main-header-ctas {
    display: inline-flex;
    padding-left: 0;
    margin-left: auto;
    column-gap: 40px;
}

.main-header-ctas-item {
    display: inline-block;
}

.hero.section {
    background-image: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100%;
}

.hero .section-container {
    position: sticky;
    top: 20px;
}

.section-eyebrow {
    font-family: var(--font-family-open-sans);
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
}

.section-eyebrow::before {
    content: '';
    display: inline-block;
    width: 60px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.6);
    margin-right: 20px;
}

.hero-eyebrow {
    color: rgba(157, 164, 189, 0.6);
}

.hero-eyebrow::after {
    content: '';
    display: inline-block;
}


.hero-heading {
    font-family: var(--font-family-raleway);
    font-weight: 700;
    font-size: 72px;
    color: var(--color-white);
    margin-top: 20px;
    letter-spacing: 3.6px;
}

.hero-description {
    font-family: var(--font-family-open-sans);
    font-size: 18px;
    letter-spacing: 0.36px;
    color: var(--color-gray);
    margin-top: 20px;
}

.section {
    padding: 130px 0px;
}

.section-container {
    width: 1200px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
}

.about {
    padding: 94px 0px;
}

.services {
    padding: 94px 0px;
    background-color: var(--color-light-gray);
}

.our-barbers {
    background-color: var(--color-light-gray-2);
}

.our-barbers-list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.our-barbers-item {
    text-align: center;
    width: calc( (100% - 60px) / 3 );
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.15);
    transition: box-shadow var(--transition-duration);
}

.our-barbers-figure {
    width: 100%;
    height: 294px;
    position: relative;
    overflow: hidden;
}

.our-barbers-item:hover {
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.15);
}

.our-barbers-item:hover figcaption {
    transform: translateY(0);
}

.our-barbers-figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.our-barbers-figure figcaption {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.90);
    padding: 0px 24px;
    color: var(--color-white);
    text-align: left;
    align-items: center;
    display: flex;
    transition: transform var(--transition-duration) cubic-bezier(0,.76,.18,.99);
    transform: translateY(100%);
    will-change: transform;
}

.our-barbers-position {
    color: var(--color-orange);
}

.about img:first-child {
    margin-right: 50px;
    box-shadow: inset 0px 0px 5px 5px green;
}

.our-barbers-links {
    list-style: none;
    display: block;
    justify-content: center;
    font-size: 0px;
    margin-top: 30px;
}

.our-barbers-links-item {
    display: inline-block;
}

.our-barbers-links-item:not(:last-child) {
    margin-right: 10px;
}

.our-barbers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-white);
    border-radius: 22px;
}

.our-barbers-link svg {
    width: 20px;
    height: 20px;
}

.our-barbers-link:hover {
    fill: var(--color-orange);
}

footer {
    background-color: var(--color-black);
    padding: 20px;
}

.footer-link {
    color: var(--color-white);
    display: flex;
    align-items: center;
}

.footer-link:hover {
    color: var(--color-orange);
}

.footer-link svg {
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.icon {
    font-family: "Icons";
    font-size: 32px;
}

.icon-facebook::after {
    content: "\e901";
    display: inline-block;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    opacity: 1;
    /* transition: visibility var(--transition-duration); */
    transition-property: visibility, opacity;
    transition-duration: var(--transition-duration);
}

.modal.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal.is-hidden .modal-content {
    transform: scale(0.5);
}

.modal-content {
    position: relative;
    width: 528px;
    height: 580px;
    background: var(--color-white);
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: none;
    transition: transform var(--transition-duration);
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: 0px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 100%;
    top: 0px;
    cursor: pointer;
}